{% extends 'base.html' %}

{% block title %}Map Pins - About{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>About Map Pins</h1>
    <p class="lead">Map Pins is a platform where users can mark places of interest on a shared map.</p>
    
    <div class="row mt-5">
        <div class="col-md-6">
            <h3>Our Mission</h3>
            <p>To provide a simple way for people to share interesting locations and discover new places through community collaboration.</p>
        </div>
        <div class="col-md-6">
            <h3>How It Works</h3>
            <p>Simply click on the map to add a pin. Add a title and description to help others understand why this place is interesting.</p>
        </div>
    </div>
</div>
{% endblock %}